<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <title>Lemon - login</title>
        <style>
            .loader {
                width: 1.2em;
                height: 1.2em;
                border: 5px solid #fff;
                border-bottom-color: transparent;
                border-radius: 50%;
                display: inline-block;
                box-sizing: border-box;
                animation: rotation 1s linear infinite;
            }

            @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            .pulse {
                animation: pulse 1s linear infinite alternate-reverse;
            }
            @keyframes pulse {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0.6;
                }
            }
        </style>
    </head>
    <body
        class="container min-vh-100 d-flex justify-content-center align-items-center bg-light"
    >
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/petite-vue"></script>
        <script src="{{ url_for('static', filename='node_modules/argon2-browser/dist/argon2-bundled.min.js')}}"></script>
        <div class="w-100" style="max-width: 400px">
            <h1 class="d-flex justify-content-center align-items-center mb-3">
                <img
                    src="/static/shield.png"
                    style="width: 1.9em; height: 1.9em"
                    alt="Auth"
                />
                <div
                    class="m-2 d-flex align-items-center justify-content-center"
                >
                    <div
                        class="rounded-circle bg-secondary m-1"
                        style="width: 0.2em; height: 0.2em"
                    ></div>
                    <div
                        class="rounded-circle bg-secondary m-1"
                        style="width: 0.2em; height: 0.2em"
                    ></div>
                    <div
                        class="rounded-circle bg-secondary m-1"
                        style="width: 0.2em; height: 0.2em"
                    ></div>
                    <div
                        class="rounded-circle bg-secondary m-1"
                        style="width: 0.2em; height: 0.2em"
                    ></div>
                    <div
                        class="rounded-circle bg-secondary m-1"
                        style="width: 0.2em; height: 0.2em"
                    ></div>
                </div>
                <img
                    src="/static/lemon.png"
                    style="width: 1.9em; height: 1.9em"
                    alt="Lemon"
                />
            </h1>
            <h1 class="text-center mb-4">Login</h1>
            <template id="form">
                <div
                    v-if='generalError != ""'
                    class="alert alert-danger d-flex align-items-center"
                    role="alert"
                >
                    [[generalError]]
                </div>
                <div v-if="success">
                    <div
                        class="alert alert-success d-flex align-items-center"
                        role="alert"
                    >
                        <h4
                            class="d-flex justify-content-center align-items-center"
                        >
                            <svg
                                class="bi flex-shrink-0 me-2"
                                role="img"
                                aria-label="Success:"
                                viewBox="0 0 16 16"
                                style="height: 1.2em; width: 1.2em"
                                fill="#0f5132"
                            >
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                                />
                            </svg>
                            The Login was successfull
                        </h4>
                    </div>
                </div>
                <div v-else>
                    <form v-on:submit="submit">
                        <input type="hidden" name="nonce" value="{{nonce}}" />
                        <input type="hidden" name="origin" value="{{origin}}" />
                        <div class="mb-3">
                            <label for="username" class="form-label"
                                >Username</label
                            >
                            <input
                                type="text"
                                name="username"
                                id="username"
                                class="form-control"
                                :disabled="isLoading"
                                v-model="username"
                            />
                            <div
                                v-if="usernameError"
                                id="emailHelp"
                                class="form-text text-danger"
                            >
                                [[usernameError]]
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label"
                                >Password</label
                            >
                            <input
                                type="password"
                                name="password"
                                id="password"
                                class="form-control"
                                :disabled="isLoading"
                                v-model="password"
                            />
                            <div
                                v-if="passwordError"
                                id="emailHelp"
                                class="form-text text-danger"
                            >
                                [[passwordError]]
                            </div>
                        </div>
                        <button
                            class="btn btn-primary w-100 btn-lg mt-1"
                            type="submit"
                            :disabled="isLoading"
                        >
                            <div
                                v-if="isLoading"
                                class="d-flex justify-content-center align-items-center pulse"
                            >
                                <span class="loader me-2"></span>
                                <span>Loading...</span>
                            </div>

                            <span v-else>Login</span>
                        </button>
                    </form>
                    <p class="text-center w-100 mt-3">
                        Don't have an account?
                        <a class="link" href="/register">register here</a>
                    </p>
                    <form
                        action="/login/redirect"
                        method="post"
                        ref="hiddenForm"
                    >
                        <input type="hidden" name="origin" value="{{origin}}" />
                        <input type="hidden" name="token" id="hiddenToken" />
                    </form>
                </div>
            </template>
            <div v-scope="Form()" @vue:mounted="checkToken"></div>
        </div>

        <script>
            function Form(props) {
                return {
                    $template: "#form",
                    isLoading: false,
                    usernameError: "",
                    passwordError: "",
                    generalError: "",
                    success: false,
                    username: "",
                    password: "",
                    token: "",
                    async submit(e) {
                        e.preventDefault();

                        localStorage.setItem("lemon-token", "token");
                        //return;
                        this.isLoading = true;
                        this.usernameError = "";
                        this.passwordError = "";
                        this.generalError = "";
                        let password = await argon2.hash({
                            pass: this.password,
                            salt: this.username + "lemon"
                        });
                        fetch("/login", {
                            method: "POST",
                            mode: "cors", // no-cors, *cors, same-origin
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                username: this.username,
                                password: password.hashHex,
                                nonce: "{{nonce}}",
                                origin: "{{origin}}"
                            })
                        })
                            .then((res) => res.json())
                            .then((data) => {
                                document.getElementById("hiddenToken").value =
                                    data["token"];
                                this.$refs.hiddenForm.submit();
                            })
                            .catch((err) => {
                                this.generalError = err.message;
                            })
                            .finally(() => {
                                this.isLoading = false;
                            });
                    },
                    checkToken() {
                        console.log("corri");
                    }
                };
            }

            PetiteVue.createApp({
                Form,
                $delimiters: ["[[", "]]"]
            }).mount();
        </script>
    </body>
</html>
